.header {
  padding-top: 2rem;
}
.wrapper {
  padding-left: 10rem;
  padding-right: 4rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.error-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffe5e5;
  border: 1px solid #ff9999;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 5rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}
