table {
  width: 100%;
}

th[mat-header-cell] {
  background: #f5f6f8;
  font-size: 15px;
  padding: 25px;
  border-color: #f5f6f8;
}

td[mat-cell] {
  padding: 25px;
  border-color: #f5f6f8;
}

tr[mat-row] {
  padding: 25px;
  border-color: #f5f6f8;
}
tr[mat-row]:hover {
  background: #f5f6f8;
}

@media screen and (max-width: 768px) {
  th[mat-header-cell],
  td[mat-cell] {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  th[mat-header-cell],
  td[mat-cell] {
    padding: 5px;
    font-size: 12px;
  }
}
